/* CSS Document */

.bod{
	background: #FBFBFB;
	width: 300px;
height: 530px;
	border: 1px solid  #E9E0E0;
	border-radius: 20px;
	margin-top: 20px;
}
.bod1{
	background: #0E00C1;
	color:aliceblue;
	height: 200px;
	border-radius: 20px;
	
}
strong{
	position: relative;
	top:70px;
	font-size: 24px;
}
.bod2 strong{
	position: relative;
	top:20px;
	font-size: 30px;
}
.bod2{
	background: #36A815;
	width: 170px;
	height: 120px;
	border-radius: 20px;
	position: relative;
	top: 120px;
}
.tex{
	color: black;
	text-align: center;
	position: relative;
	top:120px;
}
.sel{
	position: relative;
	top:260px;
	background: #36A815;
	width: 150px;
	height: 50px;
	border-radius: 20px;
	text-align: center;

}
.sel a{
	text-decoration: none;
	color: black;
	position: relative;
	top: 15px;
	
}
